header {
    background-color: #87CEEB; 
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #ff45a2; 
    margin: 0;
    font-family: Arial, sans-serif;
}


nav {
    border-bottom: 2px solid #000; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333; 
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #ff90d4; 
}

footer {
    background-color: #87CEEB; 
    color: #ff45a2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}


.box {
    background-color: #f5f5f5; 
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
